{% extends 'layout/default.html' %}
{% load custom_filters %} 

{% block title %}
{{ post.title }}
{% endblock title %}
 
{% block content %}
<h1>Содержание новости</h1>
<br>
<div class="card">
    <div class="card-header">
        {{ post.author }}
    </div>
    <div class="card-body">
        <h3 class="card-title">{{ post.title|censor }}</h3>
        <p class="card-text"><small class="text-body-secondary">{{ post.dateCreation|date:'d-m-Y h:m' }}</small></p>
        <p class="card-text">{{ post.text|censor }}</p>
        {% for category in post.postCategory.all %}
        <a class="card-link" href="{% url 'news:category' category.id %}">
            {{ category }}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}