{% extends 'layout/default.html' %}
{% load custom_filters %} 

{% block title %}
News
{% endblock title %}
 
{% block content %}
    <h1>Поиск новостей</h1>
    <!-- <p><em>(общее кол-во новостей: {{posts|length}})</em></p> -->
    <!-- <div class="btn-group">
        <a href="{% url 'news:posts' %}" class="btn btn-primary">Все новости</a>
        <a href="{% url 'news:post_search' %}" class="btn btn-primary active">Поиск</a>
        <a href="{% url 'news:post_create' %}" class="btn btn-primary">Создать новость</a>
    </div>
    <br>
    <br> -->
    {% if posts %}    
        <!-- Перед таблицей добавим форму для поиска -->
        <form method="GET">
            {{ filter.form }}
            <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самим -->
            <input class="btn btn-primary" type="submit" value="Найти">
        </form>
        
        <table  class="table table-hover">
            <tr>
                <th scope="col">
                    Заголовок
                </th>
                <th scope="col">
                    Дата публикации
                </th>
                <th scope="col">
                    Анонс
                </th>
                <th scope="col">
                    Автор
                </th>
            </tr>
            {% for p in filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'news:post_detail' p.id %}">
                        <!-- здесь
                        fastfood -- название приложения, которое задано в urls.py с помощью директивы app_name,
                        product_detail -- название ссылки в списке эндпойнтов urlpatterns,
                        news.id -- id объекта, который передаётся в качестве через эндпойнт и подставляется вместо <int:pk>
                        -->
                        {{p.title|censor}}
                        <!-- При нажатии на название в таблице нас теперь будет перекидывать на страницу с информацией о товаре/продукте -->
                    </a>
                </td>
                <td>
                    {{p.dateCreation|date:'d-m-Y h:m'}}
                </td>
                <td>
                    {{p.text|truncatechars:50|censor}}
                </td>
                <td>
                    {{p.author.authorUser}}
                </td>
            </tr>
            {% endfor %}
        </table>
       
        <!-- Заменили код пагинатора на подключение шаблона с этим кодом -->
        {% comment %}{% include 'news/parts/paginator.html' %}{% endcomment %}
    
        {% else %}
        <h3>Нет новостей</h3>
    {% endif %}
{% endblock content %}